.todoFormContainer {
    margin-bottom: 30px;
}

.todoFormContainer input {
    margin-right: 20px;
    border-radius: 5px;
    font-size: 20px;
    width: 60%;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
}

.todoFormContainer form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
